# Python
__pycache__/
*.pyc
.env
venv/

# Tableau
*.twbx
*.hyper
*.tde

# SQL Server
*.bak
*.mdf
*.ldf

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data files (raw data not tracked)
*.csv
*.xlsx
*.xls

# Logs
*.log
